body{
    margin: 0;
    background-image: url("img/sun-cloud-729064_1920.jpg");
    font-family: Calibri;
}

#search{
    overflow: hidden;
    width: 100vw;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}
#home{
    position: absolute;
    left: 20px;
    cursor: pointer;
}

#barSearch{
    background: #FFFFFF;
    height: 45px;
    width: 300px;
    border-radius: 20px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.50);

    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: #FFFFFF;
    width: 80%;

}

#barSearch:hover{
    box-shadow: inset 0 1px 1px rgb(0, 195, 255);
    border-color: rgb(0, 195, 255);
}

button{
    background: none;
    border: none;
    cursor: pointer;
}
main{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
#ResultContainer{
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
}

#cityName{
    width: 100%;
    height: 45px;
    border: 1px solid black;
    border-radius: 12px 12px 0 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.89);
}

#gridPrevision{
    width: 75vw;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 7;
    grid-template-rows: 1fr;
    grid-template-areas: "d1 d2 d3 d4 d5 d6 d7";
}

#currentDay{
    grid-area: d1;
    border: 1px solid black;
    border-radius: 12px 0 12px 12px;
    background-color: rgba(255, 255, 255, 0.89);
    text-align: center;
}

#day2{
    grid-area: d2;
    border: 1px solid black;
    border-radius: 0 0 12px 12px;
    background-color: rgba(255, 255, 255, 0.89);
    text-align: center;
}
#day3{
    grid-area: d3;
    border: 1px solid black;
    border-radius: 0 0 12px 12px;
    background-color: rgba(255, 255, 255, 0.89);
    text-align: center;
}
#day4{
    grid-area: d4;
    border: 1px solid black;
    border-radius: 0 0 12px 12px;
    background-color: rgba(255, 255, 255, 0.89);
    text-align: center;
}
#day5{
    grid-area: d5;
    border: 1px solid black;
    border-radius: 0 0 12px 12px;
    background-color: rgba(255, 255, 255, 0.89);
    text-align: center;
}
#day6{
    grid-area: d6;
    border: 1px solid black;
    border-radius: 0 0 12px 12px;
    background-color: rgba(255, 255, 255, 0.89);
    text-align: center;
}
#day7{
    grid-area: d7;
    border: 1px solid black;
    border-radius: 0 12px 12px 12px;
    background-color: rgba(255, 255, 255, 0.89);
    text-align: center;
}

h3{
    border-bottom: 1px solid black;
}

.iconeWeather img{
    max-height: 50px;
}

@media screen and (max-width: 1200px){
    #ResultContainer{
        width: 95vw;
    }
    #gridPrevision{
        width: 95vw;
    }
}
@media screen and (max-width: 700px){
    #gridPrevision{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 7;
        grid-template-areas: "d1" "d2" "d3" "d4" "d5" "d6" "d7";
    }
    #currentDay{
        border-radius: 12px 12px 0 0;
    }
    #day2{
        border-radius: 0 0 0 0;
    }
    #day3{
        border-radius: 0 0 0 0;
    }
    #day4{
        border-radius: 0 0 0 0;
    }
    #day5{
        border-radius: 0 0 0 0;
    }
    #day6{
        border-radius: 0 0 0 0;
    }
    #day{
        border-radius: 0 0 12px 12px;
    }
}

@media screen and (max-width: 550px){
    #cityName{
        height: 65px;
    }
}

@media screen and (max-width: 450px){
    #search{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "home" "searchBar";
    }
    #home{
        grid-area: home;
        text-align: center;
        position: unset;

    }
    #barSearch{
        grid-area: searchBar;
        width: 90vw;
        margin-left: 10px;
    }
}

@media screen and (max-width: 200px){
    #cityName{
        height: 90px;
    }
}